/*=====================
    Typography CSS start
==========================*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $Metropolis;
  background-color: rgba(var(--white), 1);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Metropolis',
    sans-serif;
  height: 100vh;
}

h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 0;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

h3 {
  font-size: 16px;
  margin-bottom: 0;
}

h4 {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0;
}

h5 {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
}

h6 {
  font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 0;
}

p {
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin-bottom: 0;

}

li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
}